body{
    background-color:rgb(5, 28, 63);
    text-align: left;
    font-size: 15px;
    font-family: Verdana;
}
header{
    width:100%; 
    height:170px; 
    background-color: white;
    color:white;
}
nav{
    width:100%; 
    height:30px; 
    background-color: rgb(12, 36, 68);
    position: absolute;
    color: rgb(179, 177, 177);
    font-size: 12px;
}
#index{
    position: absolute;
    margin-top: 8px;
    margin-left: 150px;
}
#index:hover{
    background-color: rgba(175, 175, 175, 0.295);
    width: 50px;
    height: 18px;
    text-align: center;
}
#formulario{
    position: absolute;
    margin-top: 8px;
    margin-left: 230px;
}
#formulario:hover{
    background-color: rgba(175, 175, 175, 0.295);
    width: 240px;
    height: 18px;
    text-align: center;
}
#cadastro{
    position: absolute;
    margin-top: 8px;
    margin-left: 1010px;
}
#cadastro:hover{
    background-color: rgba(175, 175, 175, 0.295);
    width: 100px;
    height: 18px;
    text-align: center;
}
#fotos{
    position: absolute;
    margin-top: 8px;
    margin-left: 490px;
}
#fotos:hover{
    background-color: rgba(175, 175, 175, 0.295);
    width: 120px;
    height: 18px;
    text-align: center;
}
#videos{
    position: absolute;
    margin-top: 8px;
    margin-left: 650px;
}
#videos:hover{
    background-color: rgba(175, 175, 175, 0.295);
    width: 125px;
    height: 18px;
    text-align: center;
}
#pacotes{
    position: absolute;
    margin-top: 8px;
    margin-left: 820px;
}
#pacotes:hover{
    background-color: rgba(175, 175, 175, 0.295);
    width: 160px;
    height: 18px;
    text-align: center;
}
a{
    text-decoration: none;
    color:white;
}
#imagem1{
    position: absolute;
    margin-top: -36px;
    margin-left: 330px;
}
#imagem2{
    position: absolute;
    margin-top: -16px;
    margin-left: 0px;
}
main{
    background-color: white;
    position: absolute;
    margin-top: 80px;
    margin-left:0px;
    width: 100%;
    height: 1220px;
}
.imagem {
    width: 396px;
    height: 350px;
}

.imagem:hover {
    width: 529px;
    height: 400px;
    transition: 2s;
}
h1{
    text-align: center;
}
footer{
    background-color:  rgb(12, 36, 68);
    width: 100%;
    height: 350px;
    position: absolute;
    margin-top: 1300px;
    margin-left: 0px;
    color:white;
} 
#p1{    
    font-style: italic;
    font-size: 11px;
    position: absolute;
    margin-left: 20px;
}
#p2{
    position: absolute;
    margin-left: 20px;
    margin-top: 75px;
}
#p3{
    position: absolute;
    margin-left: 200px;
    margin-top: 75px;
}
#p4{
    position: absolute;
    margin-left: 380px;
    margin-top: 75px;
}
#p5{
    position: absolute;
    margin-left: 630px;
    margin-top: 75px;
}
#p6{
    position: absolute;
    margin-left: 990px;
    margin-top: 75px;
}
